h1{
    font-family: 'monospace', cursive;
    font-size: 40px;
    color: white;
}

h2.title{
    color: white;
}

nav{
    background-color: black;
}

.box {
    border: black;
    border-radius: 25px;
}
body {
    background-color: rgb(6, 109, 143);
}
.fas {
    color: white;
}
}