
/*Background Color for the entire HTML*/
html{
    background-color: #dcdcdc;  
}

/*Navbar-menu*/
.navbar-menu {
    height: 6rem;
    width: max-content;
    
}

/*UltiMUTT Title (Navbar)*/
h1{
    font-family: 'Pacifico', cursive;
    font-size: xx-large;
    color: white;
}
/*Style for MUTT*/
span {
    color: #66d3fa;
}

/*Coloring for Navbar-links*/
.button.is-medium{
    background: #66d3fa;
}

/*#Welcome Styles*/
h2#welcome {
    font-family: 'Pacifico', cursive;
    font-size: xx-large;
    color: black;
    border-style: solid;
    border-color: #66D3fa;
    border-radius: inherit;
    border-width: 5px;
}

/*Image Styles*/
img {
    border-style: solid;
    border-color: #66d3fa;
    border-width: thick;
}

/*Title for Matchmaking Quiz*/
h3{
    font-family: 'Pacifico', cursive;
    font-size: xx-large;
    color: black; 
}

/*Hides Quiz upon page Load*/
#quiz {
    display: none;
}

/*Start Quiz/Submit Quiz Buttons*/
button#startQuiz, button#submitQuiz{
    background: #66d3fa;
    font-size: xx-large;
}

/*Padding for Matchmaking Quiz div - call once pressed*/
#quizBtnPadding { 
    padding: 0;
}

/*Column Border and Background*/
.column.is-three-fifths.is-offset-one-fifth {
    border-style: solid;
    border-color: #66D3fa;
    border-width: thick;
    background: white;
}

/*Font Size for Answer Choices*/
label.checkbox {
    font-size: x-large;
}

/*Adoption Center Style*/
/*Hides #Centers upon page load*/
#centers{
    display: none;
}

/*Sizing for Adoption Center Content*/
.content h4{
    font-size: x-large;
}

/*Save Button Style - Adoption Center*/
#saveBtn{
    background: #66d3fa;
    font-size: xx-large;
}


